<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BASE TITLE{% endblock  %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  {% block css %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    {% if msg  %}
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>{{msg}}</h1>
            </div>
        </div>
    {% else %}
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>로그인</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center" style="color:red">
             {{error}}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <form method="POST" action="{% url 'login'%}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label for="username">id</label>
                     <input type="text" class="form-control" id="username"  name="useremail" placeholder="사용자 아이디" >
                  </div>
                    <div class="form-group">
                       <label for="password">password</label>
                       <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" >
                    </div>
                    <button type="submit" class="btn btn-primary">log in</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="col-12 text-center">
        <a href="{% url 'index' %}">go to main</a>
    </div>
  </div>
</body>
</html>