{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="loader">
    <div class="wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <div class="shadow"></div>
        <span>Loading</span>
    </div>
</div>
  <div class="container">
    <div class="container" style="padding: 0 300px; color: #325981;">
            <div class="row mt-5" style="text-align: center; padding-top: 200px;">
                <div class="col-12 text-center">
                    <h1>Register Your Account</h1>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center" style="color:red">
                    {{error}}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <form method="POST" action="{% url 'register' %}" style="font-weight: bold; font-size: 22px;">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="useremail">EMAIL</label>
                            <input type="email" class="form-control" id="useremail"  placeholder="email " name="useremail" required>
                        </div>
                        <div class="form-group">
                            <label for="username">USER NAME</label>
                            <input type="text" class="form-control" id="username"  placeholder="name" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">PASSWORD</label>
                            <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
                        </div>
                        <div class="form-group">
                            <label for="re-password">RE-PASSWORD</label>
                            <input type="password" class="form-control" id="re-password" placeholder="re-password" name="re-password" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%; font-size: 20px;">RESISTER</button>
                    </form>
                </div>
            </div>
            <div class="col-12 text-center" style="padding: 30px 0 80px 0; font-weight: bold; font-size: 16px;">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'index' %}">GO TO MAIN</a>
            </div>
     </div>
  </div>

    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        Multi Campus<br>428, Seolleung-ro, Gangnam-gu, Seoul, Republic of Korea
                    </p>
                </div>
                <!-- Footer Contact-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">github</h4>
                    <p class="lead mb-0">
                        For more information about our projects<br><br><a style="color:white" href="https://github.com/multicampus-Bigdata-mukjagolmok">visit our github</a>
                    </p>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">About Learning Mate</h4>
                    <p class="lead mb-0">
                       The Learning Mate is a team of <br>Kim Dae-chan, Kim Jae-eun, <br>Kim Jung-hyun and Lee Haram.
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Mukjagolmok</small></div>
    </div>

<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(window).on('load', function() {
          $('.loader').delay("500").fadeOut();
      });
</script>
{% endblock %}