<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static  'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ restaurant.name }}</h1>

      <!-- Author -->
      <p class="lead">
        by
        <a href="#">{{ restaurant.author }}</a>
      </p>

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{ restaurant.created }}</p>

      <hr>

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{ restaurant.head_image }}" alt="">

      <hr>
      <p class="card-text">{{ restaurant.get_markdown_description | safe}}</p>
      {% for menu in menus %}
      <p> {{ menu.name }} : {{ menu.price }} </p>
      {% endfor %}
      <!-- Post Content -->
      <!--        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>-->

      <!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>-->

      <!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>-->

      <!--        <blockquote class="blockquote">-->
      <!--          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>-->
      <!--          <footer class="blockquote-footer">Someone famous in-->
      <!--            <cite title="Source Title">Source Title</cite>-->
      <!--          </footer>-->
      <!--        </blockquote>-->

      <!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>-->

      <!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>-->

      <!--        <hr>-->

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form method="post" action="{{ restaurant.get_absolute_url }}new_comment/">
            {% csrf_token %}
            <div class="form-group">
              {{ comment_form | crispy}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <div id = "comment-list">
        <!-- Single Comment -->
        {% for c in comment %}
        <div class="media mb-4" id = "comment-id-{{ c.pk }}">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            {% if c.author == request.user %}
            <button class="btn btn-sm btn-info float-right" onclick="location.href='/mukja/edit_comment/{{ c.pk }}/'">edit</button>
                <button class="btn btn-sm btn-warning float-right" data-toggle="modal" data-target="#deleteCommentModal-{{ c.pk }}">delete</button>
<!--                <button class="btn btn-sm btn-warning float-right" onclick="location.href='/mukja/delete_comment/{{ c.pk }}/'">delete</button>&ndash;&gt;-->

            {% endif %}
            <h5 class="mt-0">{{ c.author }} <small class="text-muted">{{ c.created_at }}</small></h5>
            {{ c.get_markdown_content | safe}}
          </div>
        </div>
        {% endfor %}
      </div>

      {% for c in comment %}
      {% if request.user == c.author %} <!-- user는 request.user랑 똑같음!! -->
      <!-- Modal -->
      <div class="modal fade" id="deleteCommentModal-{{ c.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">정말로 삭제하시겠습니까?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- 댓글 내용을 보여주기 위함 -->
              <p>{{ c.get_markdown_content | safe }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="location.href='/mukja/delete_comment/{{ c.pk }}/'">Delete</button>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

      <!--        &lt;!&ndash; Comment with nested comments &ndash;&gt;-->
      <!--        <div class="media mb-4">-->
      <!--          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
      <!--          <div class="media-body">-->
      <!--            <h5 class="mt-0">Commenter Name</h5>-->
      <!--            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->

      <!--            <div class="media mt-4">-->
      <!--              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
      <!--              <div class="media-body">-->
      <!--                <h5 class="mt-0">Commenter Name</h5>-->
      <!--                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
      <!--              </div>-->
      <!--            </div>-->

      <!--            <div class="media mt-4">-->
      <!--              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">-->
      <!--              <div class="media-body">-->
      <!--                <h5 class="mt-0">Commenter Name</h5>-->
      <!--                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
      <!--              </div>-->
      <!--            </div>-->

      <!--          </div>-->
      <!--        </div>-->

    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget -->
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Web Design</a>
                </li>
                <li>
                  <a href="#">HTML</a>
                </li>
                <li>
                  <a href="#">Freebies</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">JavaScript</a>
                </li>
                <li>
                  <a href="#">CSS</a>
                </li>
                <li>
                  <a href="#">Tutorials</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Map of restaurant</h5>
        <div class="card-body">
          <!-- kakao map-->
          <div id="map" style="width:100%;height:300px;"></div>
          <div id="lat" style="display: none" >{{ restaurant.latitude }}</div>
          <div id="lng" style="display: none" >{{ restaurant.longitude }}</div>
          <!-- kakao map end -->
        </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'js/jquery1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1cc2187c8717ffab77eb12ceab5806ae"></script>
<script>
  // 마커가 표시될 위치입니다
  var data_lat = document.getElementById("lat").innerText;
  var data_lng = document.getElementById("lng").innerText;
  var markerPosition = new kakao.maps.LatLng(data_lat, data_lng);
  console.log(data_lat, data_lng)
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
      mapOption = {
          center: new kakao.maps.LatLng(data_lat, data_lng), // 지도의 중심좌표
          level: 3 // 지도의 확대 레벨
      };

  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다



  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
      position: markerPosition
  });

  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);

  // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
  // marker.setMap(null);
  // 지도를 표시하는 div 크기를 변경하는 함수입니다
  // map.relayout();
  </script>

</body>

</html>
